<div class="container addMenu">
    <div class="row center">
    <div class="col-12">
        <h4>New Beer</h4>
        <br>
        <form action="#">
            <div class="input-field">
                <input type="text" id="beer-name">
                <label for="beer-name">Beer Name</label>
            </div>
            <br>
            <div class="input-field">
                <input type="text" id="beer-type">
                <label for="beer-type">Beer Type</label>
            </div>
            <div class="input-field">
                <input type="text" id="beer-description">
                <label for="beer-type">Beer Description</label>
            </div>
            <div class="input-field">
                <input type="text" id="brewrey">
                <label for="brewrey">Brewry</label>
            </div>
            <input type="submit" value="Add" class="btn btn-large add-Beer-btn">
        </form>
    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js" <script src="/js/index.js"></script>