<div class="content">

    <div class="section no-pad-bot" id="index-banner">
        <div class="landing-main container">
            <br><br>
            <h1 class="header center black-text">{{msg}}</h1>
            <div class="row center">
                <h5 class="header col s12">Welcome Administrator</h5>
            </div>
            <div class="row center">
                <div class="col-6">
                    <a id="add-beer-btn" class="waves-effect waves-light btn navbar-btn admin-btn" href="./admin/addBeer">Add New
                        Beer</a>
                </div>
                <div class="col-6">
                    <a id="delete-btn" class="waves-effect waves-light btn navbar-btn admin-btn" href="./admin/removeBeer">Delete
                        Beer</a>
                </div>
            </div>
            <div class="row center">
                <div class="col s12">
                    <div class="row">
                        <div class=" col s8 offset-s2">
                            <div class="row valign-wrapper">
                                <div class=" col s11 landing-search input-field">
                                    <input type="text" id="autocomplete-input"
                                        class="autocomplete white-text brown darken-1">
                                    <label class="light-txt-input center" for="autocomplete-input">Search</label>
                                </div>
                                <button id="main-search"
                                    class="search-btn col m1 s2 waves-effect waves-light brown center btn"><i
                                        class="material-icons right">search</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
    <!--  Scripts-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/admin.js"></script> 
    <script src="/js/index.js"></script>
    <script src="js/init.js"></script>



    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
</div>

