<div class="container addMenu">
    <div class="row center">
        <div class="col-12 main-body delete-body">
            <div class="input-field admin-input delete-field">
                <input type="text" id="delete-options">
                <label for="delete-options">Beer Type</label>
            </div>
            <input type="submit" value="Find" class="btn btn-large find-Beer-btn signupbutton">
        </div>
    </div>
    <div class="row">
        <div class="search-zone"></div>
    </div>
</div>
<div class="row">
    <div class="spacer"></div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js" <script src="/js/index.js"></script>