<div id="home">

  <div class="section no-pad-bot" id="index-banner">
    <div class="landing-main container">
      <br><br>
      <h1 class="header center black-text">{{msg}}</h1>
      <div class="row center">
        <h5 class="header col s12">Login to rate and review or browse the local beers as a guest</h5>
      </div>
      <div class="row center">
        <div class="col s12">
          <div class="row">
            <div class="landing-search input-field col s8 offset-s2">
              <input type="text" id="autocomplete-input" class="autocomplete white-text brown darken-1">
              <label class="white-text center" for="autocomplete-input">Search by beer name, style or brewery</label>
            </div>
          </div>
        </div>
      </div>
      <br><br>

    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>



  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>