<div id="home">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container signupbox">
      <br><br>
      <h1 class="header center createaccounttxt">{{msg}}</h1>
      <div class="row center">
        <div class="col s12">
          <div class="row entireform">
<div class="row">
    <form class="col s12">
        <div class="input-field col s12" style="padding-right: 25px;">
            <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate">
          <label for="username">Name</label>
        </div>
        <div class="input-field col s12" style="padding-right: 25px;">
          <i class="material-icons prefix">email</i>
          <input id="useremail" type="email" class="validate">
          <label for="useremail">Email</label>
        </div>
        <div class="input-field col s12" style="padding-right: 25px;">
          <i class="material-icons prefix">lock</i>
          <input id="userpassword" type="password" class="validate">
          <label for="userpassword">Password</label>
        </div>
        </div>
      </form>
              <div class="row">
            <button class="btn waves-effect waves-light signupbutton" type="submit" name="action" id="signupbutton">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
          </div>
        </div>
      </div>
      <br><br>

    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>



  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
</div>

<script src="/js/signup.js"></script>

