.list-group-item {
  line-height: 2.5;
}
*{
  box-sizing: border-box;
}
/* Landing Page/index.handlebars */

.landing-main {
  background-color: #9b776061;
}
.input-field.col label {
  left: 1.75rem;
  color: white;
}

.input-field.col:focus input {
  left: 1.75rem;
  color: white;
}
label.light-txt-input.active.center {
  color: black;
  font-size: 1rem;
}
.search-btn {
  position: relative;
  top: -.3rem;
  left: -.55rem!important;
  height: 40px;
  padding: 0;
  width: 15.333333%;
}
.dark-txt-input input:not(.browser-default):focus:not([readonly]) +label{
  left: 1.75rem;
  color: black;
}
.dark-txt-input input +label {
  left: 1.75rem;
  color: black!important;
}
.landing-search {
  padding: 1rem;
}

/* Main.handlebars */
.page-footer {
  position: relative;
  width: 100%;
  bottom: -40px;
  overflow: hidden;
}
.home {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/Beer-Friends.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}
.content{
  min-height: 100vh;
}

/* SignUp Page */
.signupbox{
  background-color: antiquewhite;
  width:35%;
}

.createaccounttxt {
  margin-top: 0px;
}

.entireform {
  margin-bottom: 0px;
}

.signupbutton{
  background-color: black !important;
}
.modal{
  max-height: 100%;
  overflow: hidden;
}
.modal-close{
  position: absolute;
  top: 1%;
  right: 1%;
  margin: 0;
  padding: 0;
}


/* Search Results */
@media only screen and (min-width: 0) {
  .hide-in-small {
    display: none
  }
}