/* ########################## UNIVERSAL CLASSES AND STYLES ##########################*/
*{
  box-sizing: border-box;
}
.content{
  min-height: 100vh;
}

.list-group-item {
  line-height: 2.5;
}
.section-main {
  background-color: #9b776061
}
/* ################################ MAIN.HANDLEBARS ################################# */

.page-footer {
  position: relative;
  width: 100%;
  bottom: -40px;
  overflow: hidden;
}
.home {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/Beer-Friends.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}
.navbar-btn {
  background-color: inherit!important;
}

/* ########################## Landing Page/index.handlebars ########################## */

.landing-main {
  background-color: #9b776061;
}
.input-field.col label {
  left: 1.75rem;
  color: white;
}

.input-field.col:focus input {
  left: 1.75rem;
  color: white;
}
label.light-txt-input.active.center {
  color: black;
  font-size: 1rem;
}
.search-btn {
  position: relative;
  top: -.3rem;
  left: -.55rem!important;
  height: 40px;
  padding: 0;
  width: 15.333333%;
}
.dark-txt-input input:not(.browser-default):focus:not([readonly]) +label{
  left: 1.75rem;
  color: black;
}
.dark-txt-input input +label {
  left: 1.75rem;
  color: black!important;
}
.landing-search {
  padding: 1rem;
}
/* ################################## admin Page #################################### */
.addMenu {
  background-color: #ffffff;
  text-align: center;
}
.spacer {
  padding-bottom: 40%;
}
.warning-text {
  color: #ff0000;
}
.admin-btn {
  margin: 1%;
  background-color: #5d4037 !important;
}
.admin-input {
  margin-left: 5%;
  width: 90%;
}
.delete-field {
  margin-top: 1%;
}
.delete-body {
  margin-top: 30%;
}
/* ################################## SignUp Page ################################### */
.signupbox{
  background-color: rgb(216, 203, 186);
  width:35%;
}

.createaccounttxt {
  margin-top: 0px;
}

.entireform {
  margin-bottom: 0px;
}

.signupbutton{
  background-color: #5d4037 !important;
}
.modal{
  max-height: 100%;
  overflow: hidden;
}
.modal-close{
  position: absolute;
  top: 1%;
  right: 1%;
  margin: 0;
  padding: 0;
}


/* ################################### Search Results ################################### */
.card.horizontal .card-image .search-result-img {
  width: 100px;
}
.card-action.row .reviews-header {
  border: none;
}
@media only screen and (min-width: 0) {
  .hide-in-small {
    display: none
  }
}
.card .card-action.row:last-child {
  border-radius: 0 0 2px 2px;
  position: relative;
  bottom: -1rem;
  border: none;
}
.review-collapsible {
  border-top: none;
}
/* ################################### Form CSS ################################### */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #5d4037 !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5d4037 !important;
  box-shadow: 0 1px 0 0 #5d4037!important;
 }

 .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #5d4037!important;
 }

/* label underline focus color */
 .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5d4037 !important;
  box-shadow: 0 1px 0 0 #5d4037 !important;
 }

 .input-field input[type=password]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #5d4037 !important;
 }

/* label underline focus color */
 .input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5d4037 !important;
  box-shadow: 0 1px 0 0 #5d4037 !important;
 }

 .input-field .prefix.active {
  color: #5d4037;
}

.input-field label {
  color: #91766e;
}

/* ################################### Rating Stars ################################### */
body{
  font-family: 'Verdana';
  background:#222;
}

.showcase{
  text-align:center;
  position: absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
}

.rating-system4{
  width:auto;
  display:inline-block;
  margin:20px;
  position: relative;
} 


.ratinglabel{
  float:right;
  display:inline-block;
  width:20px;
  height:5px;
  background:#ccc;
  margin:4px;
  position: relative;
  transition:all .3s;
}


/** rating system 4*/

.rating-system4 label{
    
  width:40px;
  height:50px;
  background:url('https://i.imgur.com/q1tk5E7.gif'); 
  background-size:70%;
  background-repeat:no-repeat;
} 
  

.rating-system4 label:hover,
.rating-system4 label:hover ~ label
{
  background:url('https://i.imgur.com/YgAna9g.gif');
  background-size:100%;
  background-repeat:no-repeat;
  
}


.rating-system4 input:checked ~ label{
  background:url('https://i.imgur.com/GO4qjoa.gif');
  background-size:70%;
  background-repeat:no-repeat;
  
}


/*selecting*/
input:nth-of-type(5):checked  ~ .text:before{
  content:"Not bad";
}

label:nth-of-type(5):hover  ~ .text:before{
  content:"Not bad"!important;
}

input:nth-of-type(4):checked  ~ .text:before{
  content:"Its Ok";
}

label:nth-of-type(4):hover  ~ .text:before
{
  content:"Its Ok"!important;
}


input:nth-of-type(3):checked  ~ .text:before{
  content:"Good!";
}

label:nth-of-type(3):hover  ~ .text:before{
    content:"Good!"!important;
}


input:nth-of-type(2):checked  ~ .text:before{
  content:"Very Good!";
}
label:nth-of-type(2):hover  ~ .text:before{
  content:"Very Good!"!important;
}

input:nth-of-type(1):checked  ~ .text:before{
  content:"Awesome!!";
}
label:nth-of-type(1):hover  ~ .text:before{
  content:"Awesome!!"!important;
}

#ratingheader{
  font-size: 14px;
}
@media (min-width: 1000px) and (max-width: 1140px){
  .spacer {
    padding-bottom: 80%;
  }

}